.search {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
}

.data_row:hover {
  background-color: var(--bg-color-hover-table);
  cursor: pointer;
}

.button {
  padding: 0.5rem;
}

.select-status {
  padding: 0.5rem;
}


